body {
    font-family: 'Changa', sans-serif;
    padding: 0;
    margin: 0;
}

* {
    box-sizing: border-box;
}


h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}


.main {
    display: flex;
    flex-direction: column;

    width: 40vw;;
    
    margin: 9vw auto 0;
}


.counter__title {
    display: flex;
    justify-content: center;
    font-size: 38px;
    font-weight: 700;
    letter-spacing: 5px;
}

.digit {
    display: flex;
    justify-content: center;

    font-family: 'Changa', sans-serif;
    font-size: 100px;
    font-weight: normal;
}


.counter__btn {
    margin: 25px 0;

    display: grid;
    grid-template-columns: 32% 32% 32%;
    grid-column-gap: 3%;

}

.btn {
    height: 38px;

    font-size: 20px;
    text-transform: uppercase;
    
    border: 1px solid #333;

    cursor: pointer;
    text-overflow: clip;
}

#decrease {
    background-color: rgb(253, 81, 81);
    transition: background .3s linear;
}

#decrease:hover {
    background: rgb(233, 2, 2);
}

#reset {
    background-color: rgb(245, 237, 97);
    transition: background .3s linear;
}

#reset:hover {
    background: rgb(255, 251, 0);
}

#increase {
    background-color: rgb(162, 252, 111);
    transition: background .3s linear;
}

#increase:hover {
    background: rgb(88, 219, 12);
}


@media only screen and (min-width : 320px) and (max-width : 480px) {
    .main {
        width: 90vw;;
    }
}